@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$karla: 'Karla', sans-serif;
$yellow: hsl(71, 73%, 54%);

$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-colors: (
"cyan": hsl(179, 62%, 43%),
"light-cyan": hsl(179, 50%, 55%),
"yellow-green": hsl(71, 73%, 54%),
"light-gray": hsl(204, 43%, 93%),
"dark-gray": hsl(218, 22%, 67%)
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

html {
  font-size: 62.5%;
}
body {
  font-family: $karla;
}